<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
    <h3>hola</h3>
    <label for="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quod ipsam ab, quos sapiente
        necessitatibus fugit culpa, veritatis soluta suscipit?</label>

    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-md-5">
            <form action="{{ url_for('guardarCliente') }}" method="post">
                <div class="card-header" style="background-color: blue;">INFORMACION DEL CLIENTE</div>
                <div>
                    <div>
                        <label for="txt_nombre">Nombres</label>
                    </div>
                    <div>
                        <input type="text" id="txt_nombre" name="nombre" placeholder="Favor de completar">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="txt_mail">Email</label>
                    </div>
                    <div>
                        <input type="email" id="txt_mail" name="email" placeholder="Favor de completar">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="txt_tel">N° de teléfono</label>
                    </div>
                    <div>
                        <input type="tel" id="txt_tel" name="telefono" placeholder="Favor de completar">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="txt_direccion">Dirección</label>
                    </div>
                    <div>
                        <input type="text" id="txt_direccion" name="direccion" placeholder="Favor de completar">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="enviar">ENVIAR</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
